$background-color: whitesmoke;
$text-regular: #303030;
$text-focus: black;
$text-unfocus: #505050;
$text-muted: #7f7f7f;
$emphasis-color: #1028e0;
$emphasis-color-muted: desaturate($emphasis-color, 40%);

$nav-background-color: darken($background-color, 50%);