* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  color: #303030;
}

section {
  margin: 4rem 0rem;
}

.container {
  margin: 0 1rem;
}

.sec-title {
  text-transform: uppercase;
  text-align: center;
  color: #183da1;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #4272f5;
  font-weight: 500;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 2px;
  z-index: 8;
}

.is-pinned {
  color: whitesmoke;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 50px;
  z-index: 5;
  background-color: whitesmoke;
  background-image: url("images/header_sky.png");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav {
  width: 80vw;
  height: 100vh;
  position: fixed;
  right: 0;
  padding-top: 5vh;
  background-color: #767676;
  background-image: url("images/city_night_phone.jpg");
  background-size: cover;
  text-align: center;
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.nav_visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav_item {
  list-style: none;
  margin-top: 7vh;
}

.nav_item a {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.active a {
  color: #183da1;
  text-decoration: underline;
}

.burger {
  cursor: pointer;
  height: 30px;
  width: 35px;
  position: fixed;
  top: 12px;
  right: 25px;
  z-index: 25;
  -webkit-transition: all 0.5s 0.025s ease-in-out;
  transition: all 0.5s 0.025s ease-in-out;
}

.burger_dash {
  width: 35px;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  top: 15px;
}

.burger_dash::before {
  content: '';
  width: 35px;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  bottom: 7px;
}

.burger_dash::after {
  content: '';
  width: 35px;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  top: 7px;
  -webkit-transform: scaleX(0.8) translateX(10%);
          transform: scaleX(0.8) translateX(10%);
}

.burger_close {
  right: 64vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#sec-home {
  margin-top: 0;
  padding-top: 20vh;
  padding-bottom: 0vh;
  background: url("images/hero_bg.png");
}

.foto {
  width: 100vw;
  margin-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
}

.saudacao {
  color: #303030;
}

.name {
  margin: 1rem 0;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name_last {
  color: #4272f5;
}

.titulos {
  color: #505050;
}

.page-divider {
  display: none;
}

.especialidade {
  color: #4272f5 !important;
}

.arrow {
  position: absolute;
  right: 50px;
  -webkit-transform: translateY(-15px) rotateZ(45deg);
          transform: translateY(-15px) rotateZ(45deg);
  width: 2px;
  height: 10px;
  background-color: #7f7f7f;
}

.arrow::before {
  content: "";
  width: 2px;
  height: 10px;
  background-color: #7f7f7f;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  position: absolute;
  left: -5px;
  top: 5px;
}

.area-atuacao {
  margin-top: 1rem;
}

.area-atuacao li {
  list-style: none;
}

.conhecimento {
  color: #505050;
  padding-top: 0.4rem;
  padding-left: 1rem;
}

.conhecimento small {
  color: #7f7f7f;
}

#sec-projetos .sec-title {
  color: #4272f5;
}

.emph {
  color: black;
  font-weight: bold;
}

.texto-sobre {
  font-size: 0.9rem;
}

.texto-sobre p {
  margin-top: 1rem;
}

.contatos {
  padding-top: 0.5rem;
}

.contato {
  list-style: none;
  margin-top: 1.5rem;
}

.contato_label {
  font-size: 0.8rem;
  padding-right: 10px;
}

.contato_endereco {
  color: black;
}

footer {
  text-align: right;
  color: #7f7f7f;
}

.port-name {
  margin-top: 0.2rem;
  font-size: 1rem;
  color: #183da1;
}

.port-content {
  padding-top: 15vh;
}

.container-port-name {
  text-align: center;
}

.content h1 {
  text-align: center;
}

.filter-container {
  margin-top: 45px;
  margin-bottom: 45px;
}

.filter-heading {
  text-align: right;
  padding-right: 15px;
  color: black;
  cursor: pointer;
  border-bottom: #505050 1px solid;
}

.filter-options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 40px;
  background: #ddd;
  border-radius: 5px 5px;
}

.filter-option {
  min-width: 50%;
  padding: 10px 3px;
  color: #505050;
  text-align: center;
  cursor: pointer;
}

.filter-option-active {
  color: darkgreen;
}

.filter-clear {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #183da1;
  cursor: pointer;
}

.project::before {
  content: '- ';
}

.project:hover {
  color: #4272f5;
}

.card {
  width: 80vw;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px 10px;
  -webkit-box-shadow: 0px 0 2px -1px gray;
          box-shadow: 0px 0 2px -1px gray;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d0d0d0;
  background-image: url("../images/paper_texture.png");
  background-size: cover;
}

.card:hover {
  -webkit-box-shadow: 0 0 2px 1px darkgray;
          box-shadow: 0 0 2px 1px darkgray;
}

.card-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-title {
  font-size: 1.2rem;
  color: #4272f5;
  text-align: center;
  padding-bottom: 5px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.card-title-expand {
  position: absolute;
  right: 5px;
}

.card-description {
  color: #505050;
  font-size: 0.7rem;
  margin-bottom: 5px;
  display: none;
}

.card-tag {
  height: 20px;
  margin: 5px;
  font-size: 0.8rem;
  color: #303030;
}

.card-tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-tag-title {
  font-size: 0.8rem;
  font-weight: 600;
  display: none;
}

.card-link {
  text-align: right;
  color: #183da1;
  font-size: 0.8rem;
  margin-top: 10px;
  display: none;
}

.card-link:hover {
  color: #4272f5;
}

.card-watermark {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  width: 80px;
  height: 80px;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (min-width: 750px) {
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  .container {
    max-width: 750;
    margin: 0 auto;
  }
  .sec-title {
    position: static;
  }
  section {
    padding-top: 60px;
    margin-top: 2rem;
  }
  .burger {
    display: none;
  }
  header {
    display: none;
  }
  .nav {
    width: 100vw;
    height: 60px;
    padding: 0 15vw;
    margin: 0;
    background-image: url("images/header_sky.jpg");
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav_item {
    margin: 0;
  }
  .nav_item a {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav_item a:hover {
    color: #4272f5;
    text-decoration: none;
  }
  #sec-home {
    position: relative;
    padding-top: 25vh;
    padding-bottom: 0vh;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: url("images/hero_bg.png");
  }
  #sec-home .container {
    width: 500px;
    z-index: 2;
    position: absolute;
    left: 50vw;
    top: 50vh;
    -webkit-transform: translateY(-50%) translateX(-100%);
            transform: translateY(-50%) translateX(-100%);
  }
  .foto {
    width: 400px;
    position: absolute;
    left: 50vw;
    bottom: 0;
    z-index: 0;
    -webkit-animation: "fade-in" 2s 0s backwards;
            animation: "fade-in" 2s 0s backwards;
  }
  .saudacao {
    text-align: left;
    padding-left: 100px;
    -webkit-animation: "fade-in" 1s backwards;
            animation: "fade-in" 1s backwards;
  }
  .name {
    display: block;
    text-align: right;
    -webkit-animation: "fade-in" 1s 0.8s backwards;
            animation: "fade-in" 1s 0.8s backwards;
    margin: 3rem 0;
  }
  .name_first, .name_last {
    display: inline-block;
  }
  .titulos {
    text-align: right;
    -webkit-animation: "fade-in" 1s 1.5s backwards;
            animation: "fade-in" 1s 1.5s backwards;
  }
  .page-divider {
    display: block;
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    width: 100vw;
  }
  .conhecimentos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .area-atuacao {
    -webkit-box-flex: 30%;
        -ms-flex: 30% 0 1;
            flex: 30% 0 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .area-atuacao h4 {
    margin-bottom: 1rem;
  }
  .texto-sobre {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .contatos {
    margin-left: 5rem;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 1000px;
  }
}

@media (min-width: 750px) {
  .card {
    width: 45%;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  }
  .card-container {
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 50px;
  }
  .card-title {
    cursor: initial;
  }
  .card-title-expand {
    display: none !important;
  }
  .card-description {
    display: block;
    padding: 0 25px;
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  .card-link {
    display: inline;
  }
  .card-tag {
    color: black;
  }
  .card-tag::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
    margin-right: 10px;
  }
  .card-tag-title {
    display: inline;
    color: #505050;
  }
  .card-tag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
  .card-watermark {
    bottom: 30px;
    right: 10px;
    width: 100px;
    height: 100px;
  }
}
/*# sourceMappingURL=main.css.map */